<header>
  <div class = "container">
    <h1 class = "logo">Add Spell to <%= @book.name %></h1>
    <nav>
      <ul>
        <li> <%= link_to "Back to #{@book.name}", books_path %>  </li>
        <li> <%= link_to "Home", root_path %> </li>
      </ul>
    </nav>
  </div>
</header>

<table>
    <% Spell.order(:name).each do |spell| %>
    <tr>
        <td>
            <%= spell.name %>
        </td>
        <td>
            <% if @book.spells.include?(spell) %>
                <%= "Already in book" %>
            <% else %>
          <button>
                <%= link_to "Add to Book", add_spell_to_book_path(:book_id => @book.id, :spell_id => spell.id) %>
            <% end %>
          </button>
        </td>
    </tr>
    <% end %>
</table>
