<h1>Add Spell to <%= @book.name %></h1>

<%= link_to "Back to #{@book.name}", books_path %>
<%= link_to "Home", root_path %>

<table>
    <% Spell.order(:name).each do |spell| %>
    <tr>
        <td>
            <%= spell.name %>
        </td>
        <td>
            <% if @book.spells.include?(spell) %>
                <%= "Already in book" %>
            <% else %>
                <%= link_to "Add to Book", add_spell_to_book_path(:book_id => @book.id, :spell_id => spell.id) %>
            <% end %>
        </td>
    </tr>
    <% end %>
</table>