<body>
  <header>
    <div class = "container">
      <h1 class = "logo">Add <%= @spell.name%> to Book</h1>
      <nav>
        <ul>
          <li> <%= link_to "All Spells", spells_path %> </li>
          <li> <%= link_to "Home", root_path %> </li>
        </ul>
      </nav>
    </div>
  </header>

  <div>
      <%= flash[:notice] %>
  </div>

  <%= form_with(local: true, method: :get, :url => add_spell_to_book_path) do |form| %>
  <div>
      <%= form.label "Select Book: " %>
      <%= form.select(:book_id, Book.select_books) %>
  </div>
      <%= form.hidden_field :spell_id, :value => @spell.id %>
  <div>
      <%= form.submit "Submit" %>
  </div>
  <% end %>
</body>
