<body>
  <header>
    <div class = "container">
      <h1 class = "logo">All Books</h1>
      <nav>
        <ul>
          <li> <%= link_to "Home", root_path%> </li>
          <li> <%= link_to "Create New", new_book_path%> </li>
        </ul>
      </nav>
    </div>
  </header>

  <p><%= flash[:notice]%></p>

  <table class = "book-table">
      <tr>
          <th>Spell Count: </th>
          <th>Title:</th>
      </tr>

      <% @books.each do |book| %>
      <tr>
          <td><%= book.spells.count %></td>
          <td><%= link_to book.name, book%></td>
          <td><button><%= link_to 'Delete Book', books_destroy_path(:id => book.id) %></button></td>
      </tr>
      <% end %>
  </table>
</body>
