<h1>View <%= @book.name %></h1>

<p> <%= link_to "All Books", books_path %> <p>
<p> <%= link_to "Home", root_path %> </p>

<%= flash[:notice] %>

<table>
    <% @spells.each do |spell| %>
    <tr>
        <td>
            <%= spell.name %>
        </td>
        <td>
            <button><%= link_to "Remove Spell", delete_spell_from_book_path(:b_id => @book.id, :s_id => spell.id) %></button>
        </td>
    </tr>
    <% end %>
</table>

<div>
  <button> <%= link_to "Add Spell", new_spellbook_path(:b_id => @book.id) %> </button>
</div>
