<body>
  <header>
    <div class = "container">
      <h1 class = "logo"><%= @book.name %></h1>
      <nav>
        <ul>
          <li> <%= link_to "All Books", books_path %>  </li>
          <li> <%= link_to "Home", root_path %> </li>
        </ul>
      </nav>
    </div>
  </header>

  <%= flash[:notice] %>

  <table class = "show-spells">
      <% @spells.each do |spell| %>
      <tr>
          <td>
              <%= spell.name %>
          </td>
          <td>
              <button><%= link_to "Remove Spell", delete_spell_from_book_path(:b_id => @book.id, :s_id => spell.id) %></button>
          </td>
      </tr>
      <% end %>
  </table>

  <div>
    <button> <%= link_to "Add Spell", new_spellbook_path(:b_id => @book.id) %> </button>
  </div>
</body>
