<%= form_with(model: @spell, local: true) do |form| %>
<div>
    <div class = "form">
        <%= form.label "Level: " %>
        <%= form.select :level, (0..9) %>
    </div>

    <div class = "form">
        <%= form.label "Name: " %>
        <%= form.text_field :name %>
    </div>

    <div class = "form">
        <%= form.label "School: " %>
        <%= form.select(:school, Spell.school_select) %>
    </div>

    <div class = "form">
        <%= form.label "Concentration: " %>
        <%= form.radio_button(:concentration, true) %>
        <%= form.label(:concentration, "Yes", :value => "true") %>
        <%= form.radio_button(:concentration, false) %>
        <%= form.label(:concentration, "No", :value => "false") %>
    </div>

    <div class = "form">
        <%= form.label "Description: " %> <br><br>
        <%= form.text_area :description, size: "60x12" %>
    </div>
    
    <div>
      <%= form.submit "Submit" %>
    </div>
</div>
<% end %>
