<h1>Edit <%= @spell.name %></h1>

<p> <%= link_to "All Spells", spells_path %> <p>
<p> <%= link_to "Home", root_path %> </p>

<p><%= flash[:notice]%></p>
<%= render 'form', spell: @spell %>

<div>
  <%= form_with(model:@spell, method: :delete, local:true) do |f| %>
      <%= f.submit 'Delete' %>
  <% end %>
</div>
