<body>
  <header>
    <div class = "container">
      <h1 class = "logo">Edit <%= @spell.name %></h1>
      <nav>
        <ul>
          <li> <%= link_to "All Spells", spells_path %> </li>
          <li> <%= link_to "Home", root_path %> </li>
        </ul>
      </nav>
    </div>
  </header>

  <p> <%= flash[:notice]%> </p>

  <h2> Fields of <%= @spell.name %> </h2>

  <%= render 'form', spell: @spell%>
  
</body>
