<h1>View <%= @spell.name %></h1>

<p> <%= link_to 'All Spells', spells_path %> </p>
<p> <%= link_to 'Home', root_path %> </p>

<table>
    <tr>
        <td>Level:</td>
        <td><%= @spell.level %></td>
    </tr>
    <tr>
        <td>School:</td>
        <td><%= @spell.school %></td>
    </tr>
    <tr>
        <td>Concentration:</td>
        <td>
            <% if @spell.concentration == true %>
                <%= "Yes" %>
            <% else %>
                <%= "No" %>
            <% end %>
        </td>
    </tr>
    <tr>
        <td>Description: </td>
        <td><%= @spell.description %></td>
    </tr>
</table>

<div>
  <button><%= link_to "Add #{@spell.name} to Book", edit_book_path(:id => @spell.id)%></button>
</div>
